#today {
    background-color: green;
}

.saturday {
    background-color: blue;
}

.sunday {
    background-color: red;
}

.text_box ul {
    padding-left: 0;
}

table.calendar th, td {
  width: 2em;
  text-align: center;
  border: 1px solid;
  border-collapse: collapse;
}

table.calendar td:hover {
  background-color: yellow;
}

.center {
  text-align: center;
}

.calendar_box {
  float: left;
  width: 23%;
  /*padding-right: 1em;*/
  margin-right: 1em;
}

.text_box {
  float: right;
  width: 75%;
}

