body {
  margin: auto;
  background-color: #3e2d40;
  color: rgb(199, 193, 193);
  font-family: Arial, sans-serif;
}

#today {
  background-color: #433a4d;
  font-weight: bold;
  color: white;
}

table.calendar .saturday {
  background-color: #97547d;
}

table.calendar .sunday {
  background-color: #da3057;
}

table.calendar {
  width: 100%;
  margin: auto;
  border-spacing: 4px;
}

table.calendar th,
td {
  width: 2.5em;
  height: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  border-collapse: collapse;
  color: white;
}

table.calendar td {
  color: black;
  font-weight: bold;
}

table.calendar td {
  background-color: rgb(229, 229, 241, 0.5);
}

table.calendar td:empty {
  pointer-events: none;
  background-color: transparent;
}

table.calendar td:hover {
  background-color: rgba(255, 255, 255, 0.65);
  font-style: bold;
}

.center {
  text-align: center;
}

.grid_container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 0px;
  gap: 3em;
  margin: auto;
  width: 90%;
}

.calendar_container {
  width: 100%;
  height: 100%;
}

#text_box {
  width: 100%;
}

#calendar_head {
  background-color: #97547d;
  color: white;
  font-weight: bold;
  text-align: center;
}

#history_box {
  width: 100%;
  border-style: solid;
  border-radius: 20px;
  border-color: #97547d;
  margin: auto;
}

#history_box h2 {
  background-color: #97547d;
  color: white;
  text-align: center;
  margin: 0px;
  border-width: 0px;
  border-radius: 15px 15px 0 0;
}

#history_container {
  width: 100%;
  height: 100%;
  margin: auto;
}

#history_container ul {
  margin: auto;
  padding: 1.5em;
}

#description {
  padding-bottom: 1.5em;
  margin: auto;
  width: 100%;
}