#today {
    background-color: green;
}

.saturday {
    background-color: blue;
}

.sunday {
    background-color: red;
}

table.calendar th, td {
  width: 2em;
  text-align: center;
  border: 1px solid;
  border-collapse: collapse;
}

table.calendar td:hover {
  background-color: yellow;
}